<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/templates/error.css}">
    <title>Page Not Found</title>
</head>
<body>
<p class="not-found"> Something went wrong! </p>

<div class="tipsiz">
    <div class="tipsiz-body">
        <div class="left-arm arm"></div>
        <div class="face">
            <div class="upper-face">
                <div class="element">4</div>
                <div class="element">0</div>
                <div class="element">4</div>
            </div>
            <div class="mouth"></div>
        </div>
        <div class="right-arm arm"></div>
    </div>
</div>

<p> Go back to <a href="/home">home page</a>.</p>
</body>
</html>
